@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');
body {
    background: rgb(255, 231, 196);
    background: linear-gradient(90deg, rgb(252, 195, 109) 4%, rgba(7, 1, 116, 0.671) 100%, rgb(32, 211, 247) 100%);
}

.cuadro_calculadora {
    border: 2px solid #ffb872;
    height: 520px;
    -webkit-box-shadow: 1px -1px 35px 7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px -1px 35px 7px rgba(0, 0, 0, 0.75);
    box-shadow: 1px -1px 35px 7px rgba(0, 0, 0, 0.75);
}

.box-number {
    height: 320px;
    border: 2px solid #ffb872;
    padding: 0 10px;
}

.btn_calculadora {
    width: 100%;
    font-weight: 600 !important;
    -webkit-box-shadow: 2px 2px 37px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 37px -9px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 37px -9px rgba(0, 0, 0, 0.75);
}

.texto_resultado {
    text-decoration: underline;
    font-weight: 600;
}